/**** VARIABILI **/
$colore: #007bff;

/**** GENERAL **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
  }

a {
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

.container{
    margin-top: 3%;
    box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.3);
    border-radius: 1%;
}

p, a, li{
    opacity: 0.55;
    transition: 1s;
    &:hover{
        color: black;
        text-decoration: none;
    }
}

h1, h4, h5{
    font-family: 'Poppins', Helvetica, sans-serif;
}

h1, h4 {
    font-weight: bold;
}

hr{
    width: 4%;
    margin-top: 0%;
    background: $colore;
    height: 1px; 
}

/** NAVBAR **/
nav{
    display: flex;
    justify-content: space-between;
    img{
        width: 50%;
    }
    #logo{
        display: flex;
        a{
            margin-right: -30%;
            opacity: unset;
        }
        p{
            opacity: unset;
        }
    }
    .menu{
        width: 23%; 
        ul {
        display: inline;
            li{
            display: inline;
            margin: 3%;
            opacity: .55;
            &:hover{
                opacity: 1.55;
            }
            }
        }    
    }
    .text{
        margin-top: 38px;
    }
}

/** MAIN **/
.main-content{
    display: flex;
    justify-content: space-between;
    .foto{
        margin: -8% -30% 0px 0;
        width: 63%;
        img{
        width: 98%;
        margin-top: 12%; 
        border-radius: 100%;
        } 
    }
    .description{
        width: 35%;
        margin: 8% 4% 0 7%;
        .btn{
            box-shadow: 0px 5px 9px -3px rgba(0, 0, 0, 0.3);
            margin-right: 3%;
        }
    }
}

/** SECTION **/

#riepilogo, #portfolio{
    margin-top: 6%;
    .material-icons{
        font-size: 200%;
        color: $colore;
    }
    .section-content{
        display: flex;
        padding: 4%;
        .text .fotografo {height: 103%;}
        .material-icons{
            margin-right: 3%;
        }
    }
    .riep-container{
        display: flex;
        margin: 2%;
    }
}

#portfolio{
    img{
        width: 100%;
        box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.3);
        transition: 1s;
        &:hover{transform: scale(1.1)}
    }
}

/** FOOTER **/
footer{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #f2f2f2;
    padding: 1% 0;
    ul{
        width: 134%;
    }
    .footer-social li{
    display: inline;
    margin: 1%;
        &:hover{
            opacity: unset;
        }
    }
    .footer-mail, .footer-copy{
        display: flex;
        .material-icons{
            color: $colore;
        }
    }
    a, li{
        opacity: unset;
    }
    img{
        width: 19px;
    }
}

/** MEDIA QUERY **/
/* Mobile Styles */ 
@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }
    nav #logo{
        justify-content: center;
    }
    .main-content .foto img{
        margin-top: 39%;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: #F5CF8E; /* Yellow */
    }
    nav .menu{
        width: 41%;
    }
    .main-content .foto img{
        margin-top: 39%;
    }
  }
  